<h1>Leaflet Map Integration</h1>

<div http-error-handler class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#coordinates" role="tab" data-toggle="tab">Coordiantes</a></li>
				<li role="presentation" ><a href="#confirmDialog" role="tab" data-toggle="tab">Confirm Dialog</a></li>
				<li role="presentation" ><a href="#errorHanddler" role="tab" data-toggle="tab">Error Handler</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="coordinates">
                    <div ng-repeat="result in $ctrl.getSearchService().getSearchResults()"
                             ng-click="$ctrl.markActiveResult(result)">
                        {{result}}
                    </div>				</div>
				<div role="tabpanel" class="tab-pane" id="confirmDialog">
					<confirm-dialog></confirm-dialog>
				</div>
				<div role="tabpanel" class="tab-pane" id="errorHandler">
					Error Handler Content
				</div>		
                <div role="tabpanel" class="tab-pane" id="errorHanddler">
                    <http-error-interceptor-panel></http-error-interceptor-panel>
                </div>
			</div>
		</div>

		<div class="col-md-6">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#map" role="tab" data-toggle="tab">Map</a></li>
				<li role="presentation" ><a href="#graphics" role="tab" data-toggle="tab">Graphics</a></li>
				<li role="presentation" ><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="map">
					<div map style="height: 600px"></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="graphics">
					My image commes here
				</div>
				<div role="tabpanel" class="tab-pane" id="messages">
					My messages content
				</div>			
			</div>
		</div>
	</div>
</div>